<h1>Welcome to Secret Snowman <%= @user.name %>!</h1>
<p>
  Greetings App Academian,
  <br>
  <br>
  You have successfully signed up for Secret Snowman!
  Prepare yourself for the overwhelming joy that awaits. Here's how it works:

  <ul>
    <li>You will be randomly assigned a classmate to whom you will snowman secretly</li>
    <li>Make sure to fill out your Profile page to ensure quality gifting</li>
    <li>We will have a kickass holidays celebration on Wed, Dec 23 at lunch</li>
    <li>Come prepared with a gift for your giftee; price cap is $10, but of course homemade gifts are welcome and encouraged</li>
    <li>Automatic 10 strikes if you forget to get a gift for your giftee...</li>
  </ul>
</p>
<br>
<p>Yours in non-denominational holiday cheer, <br><br>
  Secret Snowman Team
</p>
<br>
<p>
  ---> Fun Fact!  In Unicode, the symbol for snowman is U+2603  <%= "\u2603".to_sym %>
</p>
