<% if current_user == @user %>
  <h2>Update Your Interests</h2>
  <br>
  <p class="interests">Here is where you can express to your fellow
    Secret Snowpeople your gift wishes for this holiday season.
    <br>
    <br>
    Give your secret snowman an idea of what to get you!
  </p>
  <br>
  <form action="<%= user_url(@user) %>" method="post">
    <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    <input name="_method" type="hidden" value="patch">
      <label class="interests">Material desires:
        <br>
      <textarea name="user[taste]" rows="5" cols="50"
        value="<%= @user.taste %>"><%= @user.taste %></textarea>
      </label>
      <br>
      <input type="submit" value="Update Profile">
  </form>
<% end %>
