<div class="jumbotron">
  <p class="interests">
    <%= @user.name %> wants:
    <br>
    <br>
      <% if @user.taste%>
        <%= @user.taste.split(",").join("<br>").html_safe %>
      <% end %>
    <br>
    <% if current_user == @user %>
      <br>
      <%= link_to "Edit", edit_user_url(@user) %>
    <% end %>
  </p>
</div>
