<div class="jumbotron">

<% if true %>
  <p class="interests">
    <%= @user.name %> wants:
    <br>
    <br>
    <%= @user.taste.split("\n").join("<br>") %>
    <br>
    <% if current_user == @user %>
      <br>
      <%= link_to "Edit", edit_user_url(@user) %>
    <% end %>
  </p>
<% else %>
  <h3>Secret snowmen haven't been assigned yet - but thanks for checking eager beaver!</h3>
  <br>
  <br>

<% end %>
</div>
