<div class="jumbotron">
  <p class="interests">
    <%= @user.name %> wants:
    <br>
    <br>
    <%= @user.taste.split("\n").join("<br>").html_safe %>
    <br>
    <% if current_user == @user %>
      <br>
      <%= link_to "Edit", edit_user_url(@user) %>
    <% end %>
  </p>
</div>
